{% extends "account/lognav.html" %}
   

{% block content %}
    
          
            <form action="" class="main-content-form" method="post">
                {% csrf_token %}
                <div class="flex flex-col space-y-10 mt-3">
                <!-- <input type="email" name="email" id="" placeholder="Email address" class="p-5 bg-gray-200 rounded-sm outline-none font-san text-base font-semibold"> -->
                {{form.email}}

                      <div class="bg-gray-200 rounded-sm ">
                <!-- <input  type="password" name="password" placeholder="Password" class="p-5 w-11/12 bg-gray-200 rounded-sm  outline-none font-san text-base font-semibold" id="password-el">  -->
                {{form.password1}}
                <span class="cursor-pointer" id="toggle"  onclick="visibilityToggle()"><i class="fa-solid fa-eye-slash text-gray-500"></i> </span></div>


               <div class="bg-gray-200 rounded-sm ">
                <!-- <input  type="password" name="password" placeholder="Confirm password" class="p-5 w-11/12 bg-gray-200 rounded-sm outline-none font-san text-base font-semibold"id="password-El">  -->
                {{form.password2}}
                <span class="cursor-pointer" id="toggle-el"  onclick="visibilityToggle2()"><i class="fa-solid fa-eye-slash text-gray-500"></i> </span>
                </div>



                  <input type="submit"  value="Sign Up" class="white-link p-3 rounded-lg hover:opacity-25 font-base text-xl">
                </div>
              
            </form>
                 
  
            <p class="signup-text mt-5 text-center">Have an account? <a href="{% url 'account:login'%}"><span class="text-blue-300">Login</span></a></p>
        </div>
    </div>
    <script>
        const passwordEl = document.querySelector("#password-el")
        const toggleEl = document.querySelector("#toggle")

        const confirmPasswordEl = document.querySelector("#password-El")
        const secondToggleEl = document.querySelector("#toggle-el")

        function visibilityToggle2(){
            if (confirmPasswordEl.type === 'password'){
               confirmPasswordEl.type = 'text'
                secondToggleEl.innerHTML = `<i class="fa-solid fa-eye text-gray-500"></i>`
            }else{
                confirmPasswordEl.type = 'password'
                 secondToggleEl.innerHTML = `<i class="fa-solid fa-eye-slash text-gray-500"></i>`
            }
        }

                function visibilityToggle(){
            if (passwordEl.type === 'password'){
                passwordEl.type = 'text'
                toggleEl.innerHTML = `<i class="fa-solid fa-eye text-gray-500"></i>`
            }else{
                passwordEl.type = 'password'
                 toggleEl.innerHTML = `<i class="fa-solid fa-eye-slash text-gray-500"></i>`
            }
        }

    </script>
{% endblock content %}